#slidesBG{
    background-image: url("../Hikes/Backgrounds/MorskieOko.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    height: 100%;
}


div>main{
    background-color: rgba(52, 58, 64, 0.5);
}

.hike-file {
    border-radius: 15px;
    border: 2px solid rgba(139, 0, 198, 0.69);
    transition: all .2s ease-in-out;
    padding: 15px;
}

    .hike-file:hover {
        cursor: pointer;
        background-color: rgba(139, 0, 198, 0.69);
        transform: scale(1.1);
        padding: 5px;
    }


#tblHistory {
    font-size: 14px !important;
}

#tblHistory tbody {
    color: #e8e8e8;
}


